* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    animation: pop-animation .2s forwards;
    transform-origin: 0 0;
}

.box {
    height: 82px;
    width: 82px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    position: relative;
    background-color: white;
}

.box .area {
    opacity: 0;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}

.box .area:hover {
    background-color: cornflowerblue;
}

.area span {
    transform: rotate(-45deg);
}

.wrapper button {
    opacity: 0;
    padding: .4em .8em;
    border: none;
    transition: .2s;
    cursor: pointer;
}

.area.show {
    animation: hover-animation .2s forwards;
}

button.show {
    animation: hover-animation .2s forwards;
}

.btn-edit {
    margin-bottom: .5rem;
}

.btn-edit:hover {
    background-color: yellow;
}

.btn-delete {
    margin-top: .5rem;
}

.btn-delete:hover {
    background-color: rgb(255, 36, 36);
    color: white;
}

canvas {
    position: absolute;
    z-index: -10;
}

.btn-mode {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
}

.modal-form {
    width: 600px;
    padding: 1.5rem 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.btn-close {
    align-self: flex-end;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input {
    margin-bottom: 1rem;
}

.presentation {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    z-index: 100;
}

.present-content {
    width: 600px;
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.btn-group button {
    width: 20%;
}

@keyframes hover-animation {
    0% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes pop-animation {
    0% {
        transform: scale(0) translate(-50%, -50%);
    }

    100% {
        transform: scale(1) rotate(45deg) translate(-50%, -50%);
    }
}